[submodule "deps/PluginsDir/ReadWriteDevicePluginsDir/pluginSTlinkDevice/stlink-lib/stlink"]
	path = deps/PluginsDir/ReadWriteDevicePluginsDir/pluginSTlinkDevice/stlink-lib/stlink
	url = https://github.com/stlink-org/stlink
[submodule "deps/qt-advanced-docking-system"]
	path = deps/qt-advanced-docking-system
	url = https://github.com/githubuser0xFFFF/Qt-Advanced-Docking-System.git
[submodule "deps/commonQtLibs"]
	path = deps/commonQtLibs
	url = https://github.com/Sanya-123/myCommonQtLibs.git
[submodule "deps/QtnProperty"]
	path = deps/QtnProperty
	url = https://github.com/qtinuum/QtnProperty.git
[submodule "stplot-gui/widgets/DebugerWindow"]
	path = stplot-gui/widgets/DebugerWindow
	url = https://github.com/Sanya-123/DebugerWindow.git
[submodule "deps/PluginsDir/STplotVarCommon"]
	path = deps/PluginsDir/STplotVarCommon
	url = https://github.com/Sanya-123/STplotVarCommon.git
[submodule "deps/PluginsDir/VarLoaderPluginsDir"]
	path = deps/PluginsDir/VarLoaderPluginsDir
	url = https://github.com/Sanya-123/STplotVarLoader.git
[submodule "deps/styles/Qt-Advanced-Stylesheets"]
	path = deps/styles/Qt-Advanced-Stylesheets
	url = https://github.com/githubuser0xFFFF/Qt-Advanced-Stylesheets.git
[submodule "windowsLibs/libusb-cmake"]
	path = windowsLibs/libusb-cmake
	url = https://github.com/libusb/libusb-cmake.git
